<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- 템플릿 엔진을 사용해 title을 HTML <title>에 삽입합니다 -->
    <title><%= title %></title>
  </head>
  <body>
    <!-- 똑같이 title을 h1 제목에도 삽입합니다 -->
    <h1><%= title %></h1>
  </body>
</html>
