<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Download Example</title>
  </head>
  <body>
    <h1>Download your file</h1>
    <a href="/download-file">Download hello.png</a> <!-- 파일 다운로드 링크 -->
  </body>
</html>
