<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title> <!-- 서버에서 전달한 title 변수 사용 -->
  </head>
  <body>
    <h1>Welcome to <%= title %>!</h1> <!-- 동적으로 페이지 타이틀 표시 -->
    <p><a href="/file">View hello.png</a></p> <!-- 이미지 파일 열기 링크 -->
  </body>
</html>
